name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  PKG_CONFIG_PATH: /usr/lib/x86_64-linux-gnu/pkgconfig

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtk-4-dev build-essential pkg-config libssl-devlibglib2.0-dev pkg-config libgdk-pixbuf2.0-dev libcairo2-dev libpango1.0-dev libgraphene-1.0-dev libgtk-4-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
